@import 'styles/variables.scss';

#ui-toast {
  .ui-toast-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 500;
  }
  .ui-toast-content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 501;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: rpx(14) rpx(24);
    border-radius: rpx(10);
    font-size: rpx(26);
    opacity: 1;
  }
}