body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

div, input, ul, li {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}