@import "styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rpx($headerHeight);
  padding: rpx(14) rpx($wrapperSpace);
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 10;
  &.hide {
    display: none;
  }
  .iconfont.icon-arrow-left {
    margin-right: rpx(20);
  }
  .search-cancel {
    margin-left: rpx(15);
    font-size: rpx(30);
    letter-spacing: rpx(4);
    text-indent: rpx(2);
    white-space: nowrap;
  }
  .input-picker.center .placeholder {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .player-ball {
    margin-left: rpx(20);
  }
}